#logo1 {
    width: 100px;
    height: 100px;
}

.nav-item {
    margin-left: 100px;
    font-size: 30px;
    font-style:oblique;
}

#nativas {
    margin-left: 110px;
}

#ornamentales {
    margin-left: 110px;
}